# PyCharm stuff
.idea/
app/__pycache__/
research/__pycache__/
**/__pycache__/

# Virtual env
venv/

# Data
research/test/test_data/
research/data_classes/cortical_layers/data/
**.npy
**.xlsx
**.csv
**.nii
**.dcm

# Other
archive/
